<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/create">Create Blog</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
      </ul>
    </nav>
  </header>

  